body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(97, 29, 68);
  }
  
  .login-container {
    width: 300px;
    padding: 20px;
    background-color: rgb(138, 91, 3);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(127, 136, 3, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #460222;
  }